/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	color: #ffffff;
	margin: 0 auto;
	display: table;
	overflow-x: hidden;
	background-color: #000000;
	/*
background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
*/
}

@font-face{
	font-family:TradeGothicLTStd-Bold;
	src:url("../fonts/TradeGothicLTStd-Bold.otf") format("opentype");
	src:url('../fonts/TradeGothicLTStd-Bold.eot');
	src:url('../fonts/TradeGothicLTStd-Bold.eot?#iehack') format('eot'),url('../fonts/TradeGothicLTStd-Bold.otf') format('embedded-opentype'),
	url('../fonts/TradeGothicLTStd-Bold.woff') format('woff'),
	url('../fonts/TradeGothicLTStd-Bold.ttf') format('truetype'),
	url('../fonts/TradeGothicLTStd-Bold.svg#svgFontName') format('svg')
}

@font-face {
    font-family: 'trade_gothic_cn18';
    src: url('../fonts/tradegothicltstd-cn18-webfont.eot');
    src: url('../fonts/tradegothicltstd-cn18-webfont.eot?#iehack') format('eot'), 
     url('../fonts/trade_gothic_cn18.otf') format('embedded-opentype'), 
     url('../fonts/tradegothicltstd-cn18-webfont.woff') format('woff'),
     url('../fonts/tradegothicltstd-cn18-webfont.ttf')  format('truetype'),
     url('../fonts/tradegothicltstd-cn18-webfont.svg#svgFontName') format('svg');
}

#body {
	margin: -20px 15px 0 15px;
}

#video, #image {
	position: relative; width: 1300px; margin: 320px auto;
}

#german-registration {
	position: relative; 
	/*width: 1300px;*/
	width: 914px; 
	height: 400px;
	margin: 320px auto; 
  	background: #e9e9e9;
	border:4px solid #351b43;
}

#videoplayer {
	position: absolute;
	top: 60px;
	left: 236px;
	display: inline;
}

p.footer {
	clear: both;
	position: relative;
	text-align: right;
	font-size: 11px;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 400px 0 0 0;
}

.bg {
	position: absolute;
	top: 0;
/*
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
*/
}

@media screen and (max-width: 1024px){
	img.bg {
		/*
left: 50%;
		margin-left: -512px;
*/ }
}

/* MODAL STYLES */
			
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  width: 900px;
  border:3px solid #351b43;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1050;
}
.modal-content {
  position: relative;
  background: #e9e9e9;
  padding: 20px;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
/*  border-radius: 6px;
*/  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  border-bottom: 2px solid #351b43;
  min-height: 16.428571429px;
  /*width: 98%;*/
  margin: 0 10px;
  color: #351b43;
  padding: 20px;
}

.modal-header h1 {
	color: #351b43;
	font-size: 42px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: -18px;
	font-family: TradeGothicLTStd-Bold;
}

.modal-header .close {
	margin-top: -2px;
	display: block;
	background: #351b43;
	width: 53px;
	height: 45px;
	color: #fff;
	font-size:28px;
	font-weight: bold;
	font-family: TradeGothicLTStd-Bold;
	border:0;
	position: absolute;
	right: -1px;
	top: 0;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
}
.modal-body {
  position: relative;
  color: #666;
  line-height: 16px;
  padding: 20px;
  font-size: 13px;
  font-family: Verdana, Geneva, sans-serif;
}

.modal-body label {
	font-size: 14px;
	margin-bottom: 5px;
}

.modal-body .modal-body-left {
	float:left;
	width: 380px;
}

.modal-body .modal-body-left .registration-form-promo-image {
	background: transparent url('../img/registration-form-picture.png') no-repeat;
	display: block;
	width: 356px;
	height: 407px;
	border: 2px solid #351b43;
	margin-bottom: 15px;
}

.modal-body .modal-body-right {
	float:left;
	width: 435px;
}

.modal-body .modal-body-right span.required-fields, .modal-body .modal-body-right span.required-fields-error {
	float:right;
	font-size: 10px;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: -10px;
}

.modal-body .modal-body-right span.required-fields-error {
	display: none;
	font-weight: bold;
	color: #351b43;
	width: 190px;
	float: right;
}

.modal-body .modal-body-right span.required-fields-error:before {
	content: '';
	background: url('../img/error-circle.png') left top no-repeat;
	display: block;
	background-position: 0px 0px;
	background-size: 14px 14px;
	height: 14px;
	font-weight: 500;
	width: 14px;
	margin-right: 5px;
	font-size: 10px;
	vertical-align: middle;
	float: right;
}


.modal-body .modal-body-right p {
	clear: right;
}

.modal-body .modal-body-right .modal-body-right-form {
	margin-top: 20px;
}


.modal-body .modal-body-right .modal-body-right-form #submit-button {
	background: transparent url('../img/submit-btn.png') no-repeat;
	width: 262px;
	height: 58px;
	border: 0px;
	cursor: pointer;
	outline: 0;
	text-indent: -9999px;
	float: right;
	margin-top: 50px;
}

.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
/*  border-top: 1px solid #e5e5e5;
*/}
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

/* form styles */

.modal-body label {
	/*width: 100%;*/
	display: inline-block;
	padding: 10px 0 0 0;
	text-align: left;
	float:left;
}

.modal-body input[type="text"] {
	width: 95%;
	margin-bottom: 15px;
	display: inline-block;
	padding: 8px;
}

.modal-body textarea {
	width: 341px;
	/*margin-bottom: 15px;*/
	display: inline-block;
	padding: 8px;
	height: 80px;
}

.modal-body span.character-limit {
	font-size: 10px;
	/*float: left;*/
}

.modal-body input.error, .modal-body textarea.error {
	border:1px solid #351b43;
}

.modal-body label.error {
	color: #351b43;
	font-weight: bold;
}

input[type="checkbox"] {
	float: left;
/*	padding: 10px;
	border-radius: 31px;
	display: inline;
	padding: 10px;
*/}

label.checkbox-label {
	display: inline;
	padding: 10px;
	text-align: left;
	font-size: 12px;
	width: 90%;
	margin-top: -10px;
}

div.form-group.official_rules {
	margin: 20px 0 10px 0;
}

/*span.error {
	color: #351b43;
	font-size: 10px;
	background: transparent url('../img/error-circle.png') no-repeat;
	background-size: 14px 14px;
}
*/
span.error {
/*	line-height: 24px;
*/	background-size: 14px 14px;
/*	height: 24px;
*/	font-size: 10px;
/*	width: 24px;
*/	text-decoration: none;
	color: #351b43;
	position: relative;
	top: 5px;
	font-weight: 500;
	float: right;
}


span.error:before {
	content: '';
	background: url('../img/error-circle.png') left top no-repeat;
	display: inline-block;
	background-position: 0px 0px;
	background-size: 14px 14px;
	height: 14px;
	font-weight: 500;
	width: 14px;
	margin-right: 5px;
	font-size: 10px;
	vertical-align: middle;
}

textarea span.error{
	color: #red;
}

label.textarea-caption > span.error {
	color: red !important;
}

#thanks-modal .modal-dialog, #dynamic-modal .modal-dialog {
	width: 720px;
}

#thanks-modal .modal-header, #dynamic-modal .modal-header {
	border: none;
}

#thanks-modal .modal-body h1, #dynamic-modal .modal-body h1 {
	color: #351b43;
	font-family: TradeGothicLTStd-Bold;
	font-size: 64px;
	text-align: center;
	margin: 0px 0 50px 0;
}

#thanks-modal .modal-body p, #dynamic-modal .modal-body p {
	font-size: 28px;
	text-align: center;
	font-family: trade_gothic_cn18;
	line-height: 32px;
}

.return-home-btn {
	background: transparent url('../img/return-home-btn.png') no-repeat;
	display: block;
	width: 232px;
	height: 58px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 40px auto 20px auto;
}

.official-rules {
	background: #fff;
	color: #000;
	padding: 20px;
	line-height: 1.3em;
	font-family: trade_gothic_cn18;
}

.official-rules h1 {
	font-weight: bold;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	font-family: TradeGothicLTStd-Bold;
	margin: 20px 0;
}

.official-rules h3 {
	font-size: 28px;
	text-align: center;
	font-family: trade_gothic_cn18;
	line-height: 32px;
}

.official-rules strong {
	font-family: TradeGothicLTStd-Bold;
	font-weight: bold;
}


.official-rules ol {
	margin-top: 20px;
	margin-left: 20px;
}

.official-rules ol li {
	margin-bottom: 20px;
	list-style-type: decimal;
}

.official-rules p {
	margin: 10px 0;
}

#german-registration .modal-header h1 {
	text-align: left;
}

/*#german-registration label {
	float:left;
	display:inline-block;
}

#german-registration input {
	float:left;
	display:inline-block;
}*/

p.german-reg-form-intro {
	text-align: left;
	margin-bottom: 15px;
}

label.textarea-caption {
	margin-left:10px;
}

a.share-on-facebook:link, a.share-on-facebook:visited {
	margin: 25px auto 0 auto;
	text-align: center;
	color: #666;
	display:block;
	text-decoration: none;
	font-size: 28px;
	font-family: trade_gothic_cn18;
	line-height: 32px;
}

a.share-on-facebook:hover {
	text-decoration: underline;
}

a.share-on-facebook img {
	vertical-align: middle;
	margin-left: 10px;
}

.official-rules li ul {
	margin-left: 25px;
}

.official-rules li ul li {
	list-style-type: disc;
}

span.error.official_rules_error {
	margin-top: -20px !important;
}